@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#menu-1a .mbr-brand__name {
  font-size: 16px;
}
#menu-1a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1a .mbr-brand__name a {
  font-size: 25px;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#image2-f SMALL {
  color: #e25041;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
#image2-h SMALL {
  color: #e25041;
  font-size: 16px;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#header3-1b H3 {
  color: #d14841;
}
#msg-box5-1e .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1e .mbr-header__subtext {
  color: #ffffff;
  text-align: center;
}
#msg-box5-1e .mbr-article {
  color: #ffffff;
}
#msg-box5-1e .mbr-header__subtext B {
  font-size: 16px;
}
